@media (max-width: 1200px)
    .container, .newsletter-container
        max-width: 960px
    .hotel
        &-slider
            width: 590px
    .swiper
        &-slide
            &__image
                width: 100%
                height: 100%
                object-fit: cover
    .activities
        .card
            width: 230px
            height: 230px
    .footer
        &__input
            flex-basis: 100%
@media (max-width: 996px)
    .container, .newsletter-container
        max-width: 700px
    .logo
        width: 132px
    .navbar
        &-top
            padding-top: 30px
            padding-bottom: 30px
        &__search
            margin-left: auto
            margin-right: 72px
        &-menu
            padding-top: 21px
            padding-bottom: 22px
            justify-content: space-around
            &__link
                font-size: 12px
                line-height: 15px
    .search
        &__input
            width: 339px
    .breadcrumb
        &-list
            padding: 19px 0 27px 0
    .hotel
        padding-bottom: 56px
        &-info
            margin-bottom: 21px
        &-name
            padding-top: 2px
        &-grid
            flex-direction: column
        &__slider
            margin-bottom: 30px
            width: 100%
        &-right
            flex-direction: row
    .booking
        width: 340px
        padding: 28px 22px
    .map
        width: 340px
        overflow: hidden
    .newsletter
        padding: 72px 0 73px 0
        &-title
            margin-left: 14px
            font-weight: 200
    .reviews
        padding: 38px 0 70px 0
        &-title
            font-size: 30px
            margin-bottom: 45px
        &-slider
            &__item
                max-width: 580px
            &__button
                top: 45%
                margin-left: -16px
                margin-right: -17px
    .activities
        padding: 78px 0 98px 0
        &-wrapper
            flex-wrap: wrap
        &__card
            margin-bottom: 22px
        .card
            width: 340px
            height: 254px
            &__title
                max-width: 203px
                margin-bottom: 18px
    .footer
        &-wrapper
            grid-template-columns: repeat(6, 1fr)
            grid-row-gap: 38px
        &__input
            flex-basis: 49%
        &__logo
            grid-row: 1 / 2
            grid-column: span 2
        &__social
            &-network
                grid-row: 1 / 2
                grid-column: span 4
                align-self: center
        &__categories
            grid-row: 2 / 3
            grid-column: span 2
        &__legal
            grid-column: span 2
        &__additional
            grid-column: span 2
        &__contact
            &-details
                grid-column: span 5
                grid-row: 3 
            &-form
                grid-column: span 5
                grid-row: 4
        &__end-info
            grid-row: 5 / 6
            grid-column: span 6
    
@media (max-width: 768px)
    .container, .newsletter-container
        width: 92%
    .navbar
        &-top
            padding-bottom: 30px
        &-menu
            justify-content: space-around
    .search
        &__input
            width: 341px
    .breadcrumb
        &-list
            padding-top: 21px
            padding-bottom: 24px
    .search
        margin-right: 10%
        max-width: 361px
    .rating
        margin-top: 8px
    .hotel
        padding-bottom: 57px
        &-grid
            flex-direction: column
        &-right
            justify-content: space-between
            width: 100%
        &-slider
            height: 450px
            margin-bottom: 30px
            &__button
                top: 48%
                &--prev
                    left: 28px
            &__item
                width: 700px
    .booking
        max-width: 100%
        margin-right: 15px
        padding: 28px 23px
        &__info
            margin-bottom: 9px
        &__button
            padding: 13px
    .map
        max-width: 100%
    .newsletter
        &-title
            margin-left: 0
    .subscribe
        margin-right: 0
    .reviews
        padding: 38px 0 0 0
        &-slider
            &__button
                top: 50%
                margin-left: -15px
                margin-right: -17px
            &__item
                max-width: 580px
                padding: 0px 62px 45px
    .activities
        padding: 81px 0 47px 0
        &__title
            margin-top: 42px
            margin-bottom: 54px
        &-wrapper
            flex-wrap: wrap
        .card
            width: 48%
            height: 255px
    .footer
        padding-top: 71px
        padding-bottom: 20px
        &-wrapper
            grid-template-columns: repeat(2, 1fr)
            grid-row-gap: 46px
            grid-column-gap: 11px
        &__logo
            width: 96px
        &__social
            &-network
                margin: 13px 0 0 0
        &__title
            &--mt-2
                margin-top: 15px
            &--mb-4
                margin: 0 0 20px 0
            &--inline
                margin: 0 34px 0 0
        &__legal
            margin-left: 55px
        &__form
            max-width: 541px
        &__input
            &-group
                flex-basis: 47%
        &__end-info
            margin: 9px 0 12px 3px
    .modal
        &__dialog
            max-width: 378px
            padding: 35px 43px 31px 43px
        &__input, &__message
            font-style: normal
            font-weight: normal
            font-size: 12px
            line-height: 15px
        &__button
            width: 100%
        &__info
            text-align: center
@media (max-width: 661px)
    .container, .newsletter-container
        max-width: 506px
    body
        padding-top: 68px
    .logo
        width: 99px
    .navbar
        &--mobile
            &--fixed
                position: fixed
                left: 0
                top: 0
                right: 0
                z-index: 88
        &__user, &__search 
            &--mobile
                &--hidden
                    display: none
                &--visible
                    display: flex
        &__user
            flex-direction: column
            justify-content: center
        &__search
            &--mobile
                &--visible
                    width: 250px
                    margin-top: 19px
                    margin-bottom: 19px
        &-bottom
            display: none
            position: fixed
            left: 0
            right: 0
            bottom: 0
            top: 71px
            padding-top: 20px
            &--visible
                display: block
        &-menu
            flex-direction: column
            padding-top: 12px
            &__item
                margin-top: 18px
                &--mobile
                    &--visible
                        display: block
                        margin-top: 0
        &-top
            padding-top: 24px
    .hotel
        &-right
            flex-direction: column
            min-height: 460px
        &-slider
            height: 250px
            &__slider
                margin-bottom: 20px
        &-name
            flex-basis: 100%
        &-wrapper
            justify-content: space-between
        &-info
            &__text
                width: 100%
            &__name
                margin-top: 10px
                margin-bottom: 0
            &__rating
                display: none
            &__offer
                order: -1
                margin-left: 0
    .menu
        &-button
            display: flex
            width: 16px
            height: 11px
            padding: 0
            align-items: center
            justify-content: space-between
            flex-direction: column
            border: none
            background-color: inherit
            cursor: pointer
            &__line
                width: 16px
                height: 1px
                background-color: $text-color
    .user
        &__name
            &--light
                color: $light
                margin-left: 0
                margin-top: 10px
                margin-bottom: 8px
    .stars
        flex-basis: auto
    .booking
        width: 100%
    .map
        width: 100%
    .newsletter
        &-container
            flex-direction: column
    .reviews
        &-slider
            &__button
                top: 32px
                &--prev
                    left: 50%
                    margin-left: -65px
                    transform: translate(-50%, 0)
                &--next
                    right: 50%
                    margin-right: -65px
                    transform: translate(50%, 0)
    .activities
        &-wrapper
            flex-direction: column
            flex-wrap: wrap
        .card
            width: 100%
    .footer
        &-wrapper
            grid-row-gap: 31px
            grid-template-columns: 1fr
        &__logo
            grid-row: 1
            grid-column: 1
        &__social
            &-network
                grid-row: 2
                grid-column: 1
        &__additional
            grid-row: 4
            grid-column: 1
        &__categories
            grid-row: 5
            grid-column: 1
        &__legal
            grid-row: 3
            grid-column: 1
            margin-left: 0
        &__contact
            &-details
                grid-row: 6
                grid-column: 1
            &-form
                grid-row: 7
                grid-column: 1
        &__input
            &-group
                flex-basis: 100%
                margin-bottom: 0
        &__message
            margin-top: 17px
        &__ul
            &-end
                flex-direction: row
                justify-content: end
                row-gap: 25px
                margin-bottom: 15px
        &__end-info
            grid-row: 8
            grid-column: 1
            flex-direction: column
            margin: 9px 0 12px 0
        &__end-pay
            align-self: self-end
            margin-right: 14px
        &__title
            margin: 0 0 14px 0
        
@media (max-width: 400px)
    .container
        max-width: 88%
    .navbar
        &-top
            padding-top: 23px
            padding-bottom: 30px
    .breadcrumb
        &-list
            padding-top: 21px
            padding-bottom: 16px
    .hotel
        padding-bottom: 0
        &-info
            margin-bottom: 34px
            &__name
                margin: 0
                padding: 0
                padding-top: 13px
            &__offer
                margin-left: 3px
            &__description
                margin-top: 1px
        &-slider
            height: 180px
            margin-bottom: 20px
            &__button
                top: 49%
                width: 7px
                height: 7px
                background-size: 7px
                &--prev
                    left: 14px
        &-right
            min-height: 443px
    .stars
        width: 65px
        &-image
            padding-right: 0px
    .booking
        padding: 25px
        margin-right: 0
        &__info
            margin-bottom: 10px
        &__call-center
            margin-bottom: 15px
        &__button
            line-height: 8px
    .map
        height: 175px
        margin-bottom: 39px
    .newsletter
        padding: 59px 0 82px 0
        &-container
            flex-direction: column
            align-items: flex-start
            padding: 0px 7px
        &-title
            font-weight: 300
            font-size: 20px
            line-height: 25px
            &__title
                margin-top: 22px
            &__strong
                margin-top: 7px
                margin-bottom: 17px
                font-weight: 400
                font-size: 30px
                line-height: 38px
    .subscribe
        width: 280px
        height: 57px
        &__input
            padding-left: 19px
            font-size: 14px
            line-height: 18px
    .reviews
        padding-bottom: 35px
        &-title
            font-style: normal
            font-weight: bold
            font-size: 18px
            line-height: 23px
            text-align: center
            text-transform: uppercase
        &-slider
            &__item
                padding: 0 30px 33px
                &:after, &:before
                    display: none
            &__button
                &--prev
                    left: 41%
                &--next
                    right: 42%
            &__text
                height: 266px
    .activities
        padding-top: 0
        padding-bottom: 0
        &__title
            font-size: 18px
            line-height: 23px
            margin-top: 91px
            margin-bottom: 35px
        &__card
            margin-bottom: 23px
        .card
            width: 100%
    .footer
        padding-top: 70px
        padding-bottom: 25px
        &-wrapper
            grid-row-gap: 29px
        &__social
            &-network
                flex-direction: column
                row-gap: 6px
        &__additional
            order: 0
        &__legal
            order: 1
        &__social
            &-network
                margin: 0
        &__icon
            &-wrapper
                width: 24px
                height: 24px
        &__message
            width: 100%
            font-style: normal
            font-weight: normal
            font-size: 12px
            line-height: 15px
            margin-top: 0
            margin-bottom: 15px
        &__input
            width: 100%
            font-style: normal
            font-weight: normal
            font-size: 12px
            line-height: 15px
            margin-top: 5px
            margin-bottom: 12px
        &__title
            margin: 2px 0 15px 0
            &--mb-3
                margin-top: 11px
            &--mt-2
                margin-bottom: 28px
            &--mb-4
                margin-top: 29px
                margin-bottom: 16px
        &__icon
            &-wrapper
                min-width: 34px
                margin: 0
        &__text
                margin-bottom: 20px
        &__link
            &-end
                margin-right: 9px
        &__form
            justify-content: start
            flex-wrap: wrap
            flex-direction: row-reverse
        &__input
            margin-top: 0px
            margin-bottom: 14px
            &-group
                margin: 0
        &__button
            order: 1
        &__info
            width: 100%
            margin-top: 3px
            margin-bottom: 13px
        &__end-info
            margin: 0
        &__ul
            &-flex
                &--details
                    row-gap: 20px
            &-end
                margin-bottom: 6px
                justify-content: space-between
        &__end-pay
            align-self: start
            margin: 0
    .modal
        &__close
            width: 13px
        &__dialog
            width: 90%
            padding: 35px 23px 31px 23px
        &__form
                justify-content: center
        &__info
            margin-top: 10px



